@import "config";
@import "navbar";
@import "buttons";

.header-section {
  height: 90vh;
  width: 100%;
  color: $light;
}
.bg-poly {
  background-color: $primary-color;
  clip-path: polygon(100% 0, 100% 75%, 10% 100%, 0 85%, 0 0);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  @include responsive(768px) {
    clip-path: polygon(100% 0, 100% 80%, 10% 100%, 0 90%, 0 0);
  }
  @include responsive(425px) {
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 80%;
  margin: auto;
  @include responsive(425px) {
    flex-direction: column;
  }
  // z-index: -1;
}
.intro-text {
  // background-color: brown;
  position: relative;
  left: 10%;
  padding-right: 10%;
  @include responsive(768px) {
    padding-right: 0%;
    margin-left: 20px;
  }
  @include responsive(425px) {
    left: 0;
    // margin-left: 0%;
    // background-color: brown;
    padding: 30px 0;
    margin-top: 80px;
    margin-bottom: -80px;
  }
  @include responsive(320px) {
    margin-top: 50px;
    margin-bottom: -100px;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    @include responsive(768px) {
      font-size: 30px;
      letter-spacing: 0px;
    }
    @include responsive(425px) {
      margin-bottom: 30px;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 20px;
    @include responsive(768px) {
      // font-size: 30px;
      // line-height: 1.2;
      // letter-spacing: 0px;
    }
    @include responsive(425px) {
      margin-bottom: 30px;
      // line-height: 1.5;
    }
  }
}
.intro-image {
  z-index: -1;
  // background-color: #fff;
  position: relative;
  top: 5%;
  right: 10%;
  width: 40vw;
  @include responsive(1024px) {
    top: 7%;
  }
  @include responsive(768px) {
    // background-color: #fff;
    top: 0;
    right: 0;
    height: 80vh;
  }
  @include responsive(425px) {
    height: 60vh;
    width: 100%;
  }
  img {
    // height: 150vh;
    transform: rotate(-8deg);
    // top: 10%;
    // left: 40%;
    @include responsive(1024px) {
      width: 75vw;
      transform: rotate(-9deg);
    }

    @include responsive(768px) {
      transform: rotate(0deg);
    }
    @include responsive(425px) {
      margin: 0 15%;
      padding: 0;
      // height: 100%;
      width: 100%;
    }
  }
}
